.contact {
  padding-block: 3rem;
  background: #90c0e8;
  margin-top: 5rem;
}
.contact .wrapper {
  width: 100%;
  height: 100%;
  min-height: 360px;
  display: flex;
  justify-content: space-around;
}
.contact iframe {
  border-radius: 20px;
  width: 100%;
  opacity: 0.7;
  outline: none;
}
.contact iframe:hover {
  opacity: 1;
}
.contact-form {
  width: 36%;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  align-items: flex-end;
  width: 100%;
}
.contact-form input,
.contact-form textarea {
  border: none;
  padding: 10px 10px;
  border-radius: 7px;
  outline: none;
  width: 95%;
  font-size: 14px;
}
textarea {
  resize: none;
  height: 80px;
}
.form-wrapper {
  height: 70%;
}
.contact-form h3 {
  height: 20%;
  font-size: 35px;
  color: #fff;
  margin-top: 0;
}
.contact-form button {
  background: #ffb857;
  color: #fff;
  font-weight: 600;
  width: 150px;
  height: 40px;
  font-size: 14px;
  box-shadow: 1px 1px 4px #00000036;
}
.contact-form.sent {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-form.sent h3 {
  margin: 0;
}
.contact-form.sent p {
  color: #3e3e3e;
}
.form-wrapper form p {
  color: rgb(205, 0, 0);
  position: absolute;
  bottom: -40px;
}
@media (max-width: 835px) {
  .contact .wrapper {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .contact-form {
    width: 100%;
    text-align: center;
  }
  .map-wrapper {
    height: 400px;
    width: 100%;
    margin-top: 60px;
  }
  .form-wrapper form p {
    bottom: -45px;
  }
}
.contact {
  padding-block: 3rem;
  margin-top: 5rem;
  background: url(/src/assets/backgrounds/dddepth-348.jpg);
  background-size: cover;
}
