.hero-section .container {
  display: flex;
  margin-top: 2rem;
}
.hero-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.hero-content .greeting {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--light-text-color);
}
.hero-content h1 > .main-color {
  color: var(--primary-color);
}
.hero-content .hero-title {
  font-size: 2.25rem;
  line-height: 1.25;
  margin: 0;
  margin-top: 1rem;
  font-weight: 600;
  color: var(--heading-color);
}
.hero-content p {
  line-height: 1.5;
  color: var(--dark-text-color);
}
.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  position: relative;
}
.hero-img .landing {
  width: 100%;
  border: 1px solid #d4d4d46b;
  border-radius: 50%;
  padding: 15px;
  position: relative;
  animation: image 1s cubic-bezier(0.25, 0.1, 0.25, 1) infinite alternate;
}
.hero-content .follow {
  display: flex;
  gap: 20px;
  align-items: center;
}
.hero-content .follow .icons {
  display: flex;
  gap: 10px;
  color: var(--light-icons-color);
}
.icons a {
  cursor: pointer;
  transition: margin 0.1s;
  color: #4b4b4b;
}
.hero-content .follow .icons a:hover {
  color: #222222;
  margin: -3px 0px;
}
.hero-btns {
  display: flex;
  gap: 1rem;
}

/* Email Me Overlay */
.overlay-content form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 75%;
}
.overlay-content input,
.overlay-content textarea {
  border: 1px solid #dfdfdf;
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
}
.overlay-content #message {
  height: 150px;
  resize: none;
}
.overlay-content button {
  border: none;
  background: var(--primary-color);
  padding: 10px;
  border-radius: 4px;
  height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.form-buttons .reset {
  background: #e7e7e7;
  color: #272727;
}
.form-buttons .send {
  flex-grow: 1;
}
/* keyframes */
@keyframes image {
  0% {
    top: 15px;
  }
  100% {
    top: 0;
  }
}
