.hero-section .container {
  display: flex;
  margin-top: 1.5rem;
}
.hero-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.hero-content .greeting {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--light-text-color);
}
.hero-content h1 > .main-color {
  color: var(--primary-color);
}
.hero-content .hero-title {
  font-size: 2.25rem;
  line-height: 1.25;
  margin: 0;
  margin-top: 1rem;
  font-weight: 600;
  color: var(--heading-color);
}
.hero-content p {
  line-height: 1.5;
  max-width: 450px;
  color: var(--dark-text-color);
}
.hero-section .img-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.hero-img {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  position: relative;
}
.hero-img .landing {
  width: 100%;
  position: relative;
  max-width: 600px;
}
.hero-content .follow {
  display: flex;
  gap: 20px;
  align-items: center;
}
.hero-btns {
  display: flex;
  gap: 1rem;
}

/* Checkpoints */
@media (max-width: 768px) {
  .hero-section .container {
    flex-direction: column;
    gap: 3rem;
  }
  .hero-content {
    align-items: center;
  }
  .info {
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .hero-img {
    width: 50%;
    margin: auto;
  }
  .hero-btns {
    gap: 0.5rem;
  }
}
