@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --dark-text-color: #151517;
  --heading-color: #2f2f2f;
  --light-text-color: #b8b8b8;
  --light-icons-color: #858585;
  --primary-color: #eebf63;
}

body {
  font-family: "Poppins", sans-serif;
}
div#root {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.container {
  max-width: 1400px;
  width: 90%;
  height: 100%;
  margin: auto;
}

@media (min-width: 1100px) {
  .container {
    width: 80%;
  }
}
.pointer {
  cursor: pointer;
}
button:active,
a:active {
  opacity: 0.7;
}
* {
  outline-color: #6fc2c5;
  transition: all 0.3;
}
label {
  color: #666666;
}
/* Chrome, Safari, Edge */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: var(--heading-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 5px;
}
