.comments .container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.comments {
  background: #6fc2c5;
  padding-block: 2rem;
}
.comments h1 {
  color: #fff;
  text-align: center;
  font-weight: 500;
  width: 420px;
  margin: auto;
}
.comment-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
}
.comment-card {
  background: #fff;
  border-radius: 25px;
  padding: 40px;
  width: 40%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 2rem;
}
.comment-card p {
  font-size: 20px;
  padding: 0;
  width: 360px;
}
.user-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user {
  display: flex;
  gap: 15px;
  align-items: center;
}
.name {
  display: flex;
  flex-direction: column;
}
.user img {
  width: 40px;
}
.rating {
  display: flex;
  gap: 10px;
}
.user-name {
  font-weight: 500;
}
.job-title {
  color: #888888;
}
span.active {
  width: 20px;
  background: #404040;
  transition: all 0.3s;
}
.circular-taps span {
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 30px;
  cursor: pointer;
}
.circular-taps {
  display: flex;
  gap: 20px;
  justify-content: center;
}

@media (max-width: 936px) {
  .comment-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .comment-card p {
    width: auto;
    font-size: 15px;
    color: #616161;
  }
  .comment-card {
    padding: 20px;
    width: 85%;
  }
  .comment-card p::after,
  .comment-card p::before {
    content: '"';
  }
}
