.landing-card {
  margin-top: 5rem;
}
.card-content {
  display: flex;
  background: #f6f6f6;
  padding: 40px;
  border-radius: 35px;
  align-items: center;
  justify-content: flex-start;
  gap: 5rem;
}
.card-details {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.card-pic {
  height: 100%;
}
.card-pic img {
  height: 100%;
}
.card-analysis {
  display: flex;
  gap: 30px 5rem;
}
.card-analysis h3 {
  margin: 0;
  font-size: 55px;
  font-weight: 600;
  color: var(--dark-text-color);
  display: flex;
  align-items: center;
}
.card-analysis svg {
  color: #f5bf75;
}
.card-analysis span {
  color: var(--light-text-color);
}
.card-brief h2 {
  font-size: 45px;
  font-weight: 600;
  margin: 0;
}
.card-brief p {
  line-height: 1.7;
  font-size: 24px;
}

/* Checkpoints */
@media (max-width: 1024px) {
  .card-brief h2 {
    font-size: 24px;
  }
  .card-brief p {
    font-size: 15px;
  }
  .card-analysis {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .card-content {
    flex-direction: column-reverse;
    align-items: center;
  }
  .card-details {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .card-analysis h3 {
    justify-content: center;
  }
  .card-pic img {
    width: 250px;
  }
}
